@import "./reset";
@import "./utils";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-text-color: #ffffff;

body {
  color: $primary-text-color;
  background-image: url("../../public/images/bg-weather.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto";
  padding-left: 120px;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
